*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blender{
    width: 400px;
    height: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/licuadoraApagada.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.blender.active{
    background-image: url(assets/licuadoraEncendida.gif);
}

.blender-button{
    width: 35px;
    height: 40px;
    margin: 440px auto 0px;
}
