*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blender{
    width: 250px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/licuadoraApagada.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.blender-on{
    background-image: url(../assets/licuadoraEncendida.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.blender-button{
    width: 70px;
    height: 70px;
    background-color: #1100ff;
    margin: 350px auto 0px;
}